<div class="i_centered">
	<div class="i_internal" id="lights_container">
		<div class="left">
			<%= link_to image_tag("lights/1.png"), "#", :class => "light" %>
		</div>

		<div class="left move_image">
			<%= link_to image_tag("lights/2.png"), "#", :class => "light" %>
		</div>

		<div class="left move_image">
			<%= link_to image_tag("lights/3.png"), "#", :class => "light" %>
		</div>

		<div class="left move_image">
			<%= link_to image_tag("lights/4.png"), "#", :class => "light" %>
		</div>

		<div class="left move_image">
			<%= link_to image_tag("lights/5.png"), "#", :class => "light" %>
		</div>

		<div class="left move_image">
			<%= link_to image_tag("lights/6.png"), "#", :class => "light" %>
		</div>

		<div class="clear">
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		load_lights();
	});
</script>