<%
  if @contact.nil?
    @contact = Contact.new
  end
%>
<%= form_for(@contact, :remote => true) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name", :class => "text" %>
  </div>

  <div class="field">
    <%= f.text_field :lastname, :placeholder => "Last Name", :class => "text" %>
  </div>

  <div class="field">
    <%= f.text_field :email, :placeholder => "Email", :class => "text" %>
  </div>

  <div class="field">
    <%= f.select :country_id, Country.all.collect{ |c| [c.name, c.id] } %>
    <%= f.text_field :mobile, :placeholder => "Mobile", :class => "mobile" %>
  </div>

  <div class="field">
    <%= f.text_area :comment, :placeholder => "Comment" %>
  </div>

  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>
